.product-card{
  align-items: center;
  padding: 0;
}
.grid-container{
  overflow: scroll;
}
.cart-picture{
  /* max-height: 15vw; */
  height: 200px;
  width: 200px;
}
.frontpage-image{
  height: 200px;
  width: 250px;
}
.cart-summary-item{
  max-width: 50vw;
}
.product-list-item{
  height: 100%;
}
